{% extends "base.html" %} {% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <h3>
      Welcome to <strong>Automated Identification of AI Companies</strong>
    </h3>
    <h1>Automate Product Creation</h1>
    <h2>
      A tool to automatically identify companies providing AI services assisting
      in product creation
    </h2>
    <a href="/findCompanies" class="btn-get-started">Find Companies</a>
  </div>
</section>
<!-- End Hero -->

{% endblock %}
